{% extends "socialblog/base_layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="post" >
 {% csrf_token %}


<label>Email:</label>
<input type="email" name="email" placeholder="Enter Email I'd"><br><br>


<label>Old Password:</label>
<input type="password" name="password" placeholder="Old Password"><br><br>

<label>New Password:</label>
<input type="password" name="new_pwd" placeholder="New Password"><br><br>

<input type="submit" value="Change Password">

{{msg}}
</form>
    </div>

{% endblock content %}